


<!-- card ===================================== -->

      <div class="card-cat col-4">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-cat-infos">
          <div>
            <h2>Felix</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae magna sit faucibus arcu sit.</p>
            <div class="paw">
              <i class="fas fa-paw"></i>
              <i class="fas fa-paw"></i>
              <i class="fas fa-paw"></i>
              <i class="fas fa-paw"></i>
              <i class="fas fa-paw"></i>
            </div>
          </div>
          <div class="pricing">15€ <span class="half-day">/ demi journée </span></div>
        </div>
      </div>

 <!-- ==============================  -->
