<footer class="text-center bg-info">
  <p class="my-0">Made with love @ Le Wagon</p>
  <p class="my-0">Student project - All artwork property of <%= link_to "Vaneltya", "https://dribbble.com/vaneltia/about" %></p>
</footer>
