// Define variables for your color scheme

// Chat va miaou:
$red: #D53947;
$teal: #66B09F;
$lightblue: #E3FBF6;
$lightpink:#FFE6E8;
$pink: #FC8892;
$gray: #313D4E;
$lightgray: #BBC4D1;
$white: #FFF;
