.cat-info .fas {
  font-size: 1.3rem;
}

i.fas.fa-paw {
  margin-right: 0;
  margin: 0 -2px;
}

i.fas .fa-pen {
  margin-right: 0;
  margin: 0 -2px;
}

i.far.fa-trash-alt {
  margin-right: 0;
  margin: 0 6px;
}

.cat-info {
  ul {
    list-style: none;
    padding: 0 0;
    text-transform: capitalize;
  }
}
.cat-photos {
  position: relative;
}

.second-photo {
  width: 32%;
  outline: 0.5rem solid white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  object-fit: cover;
}
.main-photo {
  height: 40vh;
  width: 95%;
  object-fit: cover;
  margin-bottom: 3vh;
}

.only-photo {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  margin-bottom: 3vh;
}

.map-container.col-4 {
  padding-left: 0px;

}

.cat-show {
  width: 80%;
  margin: 0 auto;
  h3 {
    text-align: left;
  }
}

.research-bar {
  width: 100%;
  margin-left: 21px;
  padding-right: 40px;
  padding-top: 16px;
}

.booking {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 15px;
  box-shadow: (0 0 20px 1px)  #BBC4D1;
}

.owner-info {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.booking-price {
  font-weight: 700;
}
