.container-authentification {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 5vh auto;
}

h2 {
  text-align: center;
  margin-bottom: 14px;
  margin-top: 23px;
}

.form-actions {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.user-edit {
  margin-top: 24px;
  display: flex;
  justify-content: space-evenly;
}
