.container-cat {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 2vh auto;
}

h2 {
  color: $teal;
  font-weight: 600;
}

.form-actions {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.form-group {
  color: $gray;
  font-weight: 500;
}

.h2-title {
  margin-bottom: 31px;
}
