.container {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 5vh auto;
}

.form-actions {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-infos {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
