// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cats";
@import "pages/dashboard";
@import "pages/login";
@import "pages/signup";
@import "pages/edituser";
@import "pages/new_cat";

.page-wrapper {
  min-height: 100vh;
}

body {
  background: linear-gradient($lightblue, $lightpink);
  min-height: 100vh;
}
