.cat-info .paw {
  font-size: 1.3rem;
  i {
    margin: 0 -3px;
  }
}

.star {
  display: inline;
  font-size: 1.3rem;
}

.second-photo {
  height: 18vh;
  width: 18vh;
  border: 0.5rem solid white;
  position: absolute;
  bottom: 18vh;
  right: -2vw;
  object-fit: cover;
}

.main-photo {
  position: relative;
  height: 40vh;
  width: 45vw;
  object-fit: cover;
  margin-bottom: 3rem;
}

