.cat-info .fa-paw {
  font-size: 1.3rem;
  i {
    margin: 0 -3px;
  }
}

.star {
  display: inline;
  font-size: 1rem;
}

.cat-photos {
  position: relative;

}

.second-photo {
  width: 32%;
  outline: 0.5rem solid white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  object-fit: cover;
}
.main-photo {
  height: 40vh;
  width: 95%;
  object-fit: cover;
  margin-bottom: 3vh;
}

.map-container.col-4 {
  padding-left: 0px;
}

.cat-show {
  width: 80%;
  margin: 0 auto;
}

.booking {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 15px;
  box-shadow: (0 0 20px 1px) $lightgray;
}

.owner-info {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.booking-price {
  font-weight: 700;
}
