<div class="index-container d-flex">
  <div class="container col-8 mx-2">
    <div class="row">
    <%= render "components/cats_card" %>
    <%= render "components/cats_card" %>
    </div>
  </div>
  <div class="map-container col-4"></div>
</div>
