<div class="container">
  <div class="row">
    <div class="col">
      <div class="cat-photos">
        <%= cl_image_tag @cat.photos.first.key %>
        <% if @cat.photos.count > 1 %>
          <%= cl_image_tag @cat.photos[1].key %>
        <% end %>
      </div>
      <div class="cat-info">
        <h1><strong><%= "#{@cat.name}" %></strong><%= "(#{@cat.tag})" %></h1>
        <div class="cat-rating">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="owner-info">

      </div>
      <div class="booking">

      </div>
    </div>
  </div>
</div>
